---
import Nav from "../components/Nav.jsx";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Shlef - File Sharing for Teams</title>
    <link
      rel="icon"
      href="https://www.svgrepo.com/show/396470/file-folder.svg"
    />

    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>

  <body class="bg-gray-900"
    ><div>
      <div class="bg-indigo-600">
        <div
          class="max-w-screen-xl mx-auto px-4 py-3 text-white sm:text-center md:px-8"
        >
          <p class="font-medium">
            This is a WIP! Please be patient as this website is pieced together.
          </p>
        </div>
      </div>
      <Nav client:load />
      <section class="relative">
        <div class="relative z-10 max-w-screen-xl mx-auto px-4 py-28 md:px-8">
          <div class="space-y-5 max-w-4xl mx-auto text-center">
            <h2 class="text-4xl text-white font-extrabold mx-auto md:text-5xl">
              Share and manage files within your organisation
              <span
                class="text-transparent bg-clip-text bg-gradient-to-r from-[#FBD786] to-[#f7797d]"
                >with ease...</span
              >
            </h2>
            <p class="max-w-2xl mx-auto text-gray-300">
              ...by using a simple, self-hostable, and secure file sharing
              platform. Say goodbye to third-party file sharing services, and
              say hello the the future. Shlef. Security, by design.
            </p>
            <div
              class="flex justify-center items-center gap-x-4 text-gray-400 text-sm"
            >
              <button
                class="flex items-center justify-center gap-x-2 py-2.5 px-4 mt-3 w-full text-sm text-white font-medium bg-sky-500 hover:bg-sky-400 active:bg-sky-600 duration-150 rounded-lg sm:mt-0 sm:w-auto"
              >
                Download<svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div
          class="absolute inset-0 m-auto max-w-xs h-[357px] blur-[118px] sm:max-w-md md:max-w-lg"
          style="
            background: linear-gradient(
              106.89deg,
              rgba(192, 132, 252, 0.11) 15.73%,
              rgba(14, 165, 233, 0.41) 15.74%,
              rgba(232, 121, 249, 0.26) 56.49%,
              rgba(79, 70, 229, 0.4) 115.91%
            );
          "
        >
        </div>
      </section>
    </div>
    <div id="features" class="relative py-28">
      <div
        class="relative z-10 max-w-screen-xl mx-auto px-4 text-gray-300 justify-between gap-24 lg:flex md:px-8"
      >
        <div class="max-w-xl">
          <h3 class="text-white text-3xl font-semibold sm:text-4xl">
            You're in the drivers seat.
          </h3>
          <p class="mt-3">
            With Shlef, you're in control of your data. That's because for us
            privacy isn't a feature. It's a right.
          </p>
        </div>
        <div class="mt-12 lg:mt-0">
          <ul class="grid gap-8 sm:grid-cols-2">
            <li class="flex gap-x-4">
              <div
                class="flex-none w-12 h-12 bg-gray-700 text-cyan-400 rounded-lg flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
                  ></path>
                </svg>
              </div>
              <div>
                <h4 class="text-lg text-gray-100 font-semibold">Fast</h4>
                <p class="mt-3">
                  Shlef is self-hosted, and built with speed in mind. It is not
                  just fast; it is blazing fast.
                </p>
              </div>
            </li>
            <li class="flex gap-x-4">
              <div
                class="flex-none w-12 h-12 bg-gray-700 text-cyan-400 rounded-lg flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
                  >
                  </path>
                </svg>
              </div>
              <div>
                <h4 class="text-lg text-gray-100 font-semibold">Secure</h4>
                <p class="mt-3">
                  Built with security in mind, using end-to-end encryption.
                  Nothing ever leaves the network.
                </p>
              </div>
            </li>
            <li class="flex gap-x-4">
              <div
                class="flex-none w-12 h-12 bg-gray-700 text-cyan-400 rounded-lg flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3"
                  >
                  </path>
                </svg>
              </div>
              <div>
                <h4 class="text-lg text-gray-100 font-semibold">
                  Built for teams
                </h4>
                <p class="mt-3">
                  Built for teams, by a team. We know what you need, and Shlef
                  delivers on that promise.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="py-14 bg-gray-800" id="faq">
      <div class="max-w-screen-xl mx-auto px-4 gap-12 md:flex md:px-8">
        <div class="flex-1">
          <div class="max-w-lg">
            <h3 class="font-semibold text-cyan-400">
              Frequently asked questions
            </h3>
            <p class="mt-3 text-white text-3xl font-extrabold sm:text-4xl">
              All the information you need to know, and more.
            </p>
          </div>
        </div>
        <div class="flex-1 mt-12 md:mt-0">
          <ul class="space-y-4 divide-y divide-gray-700">
            <li class="py-5">
              <summary
                class="flex items-center justify-between font-semibold text-gray-200"
              >
                Why create Shlef?
              </summary>
              <p class="mt-3 text-gray-300 leading-relaxed">
                File privacy is a big issue. We believe that privacy is a right,
                and not a feature. That's why we created Shlef. To give you the
                power to share files with your team, without having to worry
                about your data being sold to third-parties. Because that is
                just plain wrong.
              </p>
            </li>
            <li class="py-5">
              <summary
                class="flex items-center justify-between font-semibold text-gray-200"
              >
                How does Shlef work?
              </summary>
              <p class="mt-3 text-gray-300 leading-relaxed">
                Shlef is a self-hosted file sharing platform, built with
                security in mind. Self-hosted means that Shlef is hosted
                locally, so that your data never leaves your network. This keeps
                your data safe and secure.
              </p>
            </li>
            <li class="py-5">
              <summary
                class="flex items-center justify-between font-semibold text-gray-200"
              >
                How do I get started?
              </summary>
              <p class="mt-3 text-gray-300 leading-relaxed">
                Shlef isn't production ready yet, but we're working hard to get
                it out there. In the meantime, why not check out our
                <a
                  href="https://github.com/shlef/"
                  target="_blank"
                  class="text-sky-500 hover:text-sky-400 duration-150">GitHub</a
                >?
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <footer class="pt-10">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8">
          <div
            class="mt-10 py-10 border-t border-gray-700 items-center justify-between sm:flex"
          >
            <p class="text-gray-300">© 2023 Shlef Inc. All rights reserved.</p>
            <div class="flex items-center gap-x-6 text-gray-400 mt-6">
              <a href="https://github.com/shlef" target="_blank"
                ><svg
                  class="w-6 h-6 hover:text-gray-500 duration-150"
                  fill="none"
                  viewBox="0 0 48 48"
                >
                  <g fill="currentColor" clip-path="url(#clip0_910_44)">
                    <path
                      fill-rule="evenodd"
                      d="M24 1A24.086 24.086 0 008.454 6.693 23.834 23.834 0 00.319 21.044a23.754 23.754 0 003.153 16.172 23.98 23.98 0 0012.938 10.29c1.192.221 1.641-.518 1.641-1.146 0-.628-.024-2.45-.032-4.442-6.676 1.443-8.087-2.817-8.087-2.817-1.089-2.766-2.663-3.493-2.663-3.493-2.178-1.478.163-1.45.163-1.45 2.413.17 3.68 2.461 3.68 2.461 2.138 3.648 5.616 2.593 6.983 1.976.215-1.545.838-2.596 1.526-3.193-5.333-.6-10.937-2.647-10.937-11.791a9.213 9.213 0 012.472-6.406c-.246-.6-1.069-3.026.234-6.322 0 0 2.015-.64 6.602 2.446a22.904 22.904 0 0112.017 0c4.583-3.086 6.594-2.446 6.594-2.446 1.307 3.288.484 5.714.238 6.322a9.194 9.194 0 012.476 6.414c0 9.163-5.615 11.183-10.957 11.772.859.742 1.626 2.193 1.626 4.421 0 3.193-.028 5.762-.028 6.548 0 .636.433 1.38 1.65 1.146a23.98 23.98 0 0012.938-10.291 23.754 23.754 0 003.151-16.175A23.834 23.834 0 0039.56 6.69 24.086 24.086 0 0024.009 1H24z"
                      clip-rule="evenodd"></path>
                    <path
                      d="M9.089 35.264c-.052.119-.243.154-.398.071-.155-.083-.27-.237-.214-.36.056-.122.242-.154.397-.07.155.082.274.24.215.359zM10.063 36.343a.4.4 0 01-.493-.11c-.155-.167-.187-.396-.068-.499.12-.102.334-.055.489.11.155.167.19.396.072.499zM11.008 37.714c-.147.103-.397 0-.536-.206a.395.395 0 010-.569c.147-.098.397 0 .537.202.139.202.143.47 0 .573zM12.292 39.042c-.131.146-.397.106-.616-.091-.219-.198-.27-.467-.139-.609.131-.142.397-.102.624.091.226.194.27.466.131.609zM14.092 39.816c-.06.186-.33.269-.6.19-.27-.08-.449-.3-.397-.49.051-.19.326-.277.6-.19.274.087.449.297.397.49zM16.056 39.95c0 .194-.223.36-.509.364-.286.004-.52-.154-.52-.348 0-.193.222-.36.508-.363.286-.004.52.15.52.347zM17.884 39.646c.036.194-.163.395-.45.443-.285.047-.536-.067-.572-.257-.035-.19.171-.395.45-.447.278-.05.536.068.572.261z"
                    >
                    </path>
                  </g>
                  <defs>
                    <clipPath id="clip0_910_44">
                      <path fill="#fff" d="M0 0h48v48H0z"></path>
                    </clipPath>
                  </defs>
                </svg></a
              >
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
